[Unit]
Description=OMNE boot
After=omne-core.service systemd-user-sessions.service
Wants=omne-core.service
Conflicts=getty@tty1.service
Before=getty@tty1.service

[Service]
Type=idle
ExecStart=/usr/bin/omne-boot
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
Restart=no
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
ProtectClock=true
RestrictSUIDSGID=true
LockPersonality=true
CapabilityBoundingSet=
InaccessiblePaths=/boot /efi /etc/shadow /etc/gshadow /etc/sudoers /etc/ssh

[Install]
WantedBy=omne.target
