[Unit]
Description=OMNE system
Wants=omne-boot.service omne-core.service omne-shell.service omne-session.service
After=network.target omne-core.service

[Install]
WantedBy=multi-user.target
